{% extends 'layout.html.twig' %}

{% block belt %}{% endblock %}
{% block beard %}{% endblock %}
{% block content %}

	<div class="container login-page">

		{% for error in errors %}
			<article>
				<header>
					Vérifier les informations saisies
				</header>
				<ul>
					<li>{{ error }}</li>
				</ul>
			</article>
		{% endfor %}

		<header>
			<img src="/assets/images/boulogo_blue.png" class="logo-blue" alt="logo du site kitouchki">
			<h3>Connecte-toi</h3>
		</header>
		<form method="post">
			<label for="pseudo">Ton pseudo de toucheur:
			</label>
			<input type="text" id="pseudo" name="pseudo" placeholder="Pas de bras, pas de chocolat">
			<fieldset>
				<label for="password">Votre mot de passe de toucheur:
				</label>
				<input type="password" id="password" name="password" required>
			</fieldset>
			<a href="/touch" role="button" class="button-login">Bienvenue chez les toucheurs !!!!</a>
		</form>
		<a href="/register" role="button" class="button-login">Vous ne touchez pas encore, c'est par ici</a>
	</div>
{% endblock %}
