{% block content %}
<div class="touchtouch">
    <p>Où touches-tu ?</p>
    <img src= "/assets/images/scene-de-crime.png" alt="crime">
</div>
<div class="pretour">
<p>Retour</p>
</div>
{% endblock %}
