{% extends 'layout.html.twig' %}

{% block content %}

	<div class="touchtouch">

		<p>Choisis où tu souhaites toucher <strong> {{ toucher.pseudo }} </strong> </p>
	
		<a href="/gift"><img src="/assets/images/scene-de-crime.png" alt="crime"></a>

	</div>
	<div class"container">
		<div class="pretour">
		<p>Retour</p>
		</div>
	</div>
{% endblock %}

{% block beard %}{% endblock %}
{% block belt %}{% endblock %}

{% block javascript %}
	 <script src="assets/main.js"></script>
{% endblock %}
