{% extends 'layout.html.twig' %}

{% block content %}
<div class="touchtouch">

<p> Choisis où tu souhaites toucher {{ toucher.pseudo }}  </p>
    <img src= "/assets/images/scene-de-crime.png" alt="crime">
</div>
<div class="pretour">
<p>Retour</p>
</div>
{% endblock %}
{% block javascript %}<script src="assets/main.js"></script>{% endblock %}
