{% extends 'layout.html.twig' %}

{% block beard %}{% endblock %}

{% block belt %}{% endblock %}

{% block content %}
<p>{{ gift.gift_name }}</p>
<pre>
	{{ dump(gift.gift_name) }}
</pre>
{% endblock %}
