{% extends 'layout.html.twig' %}

{% block content %}
<div class="description">
<p>Découvrez "kitouchki", votre destination pour une version touchante du Secret Santa. Cliquez sur notre bouton "Touch Me", astucieusement placé sous la ceinture du Père Noël, et lancez-vous dans une sélection de cadeaux surprenants et amusants. Grâce à Kitouchki, recevoir un cadeau devient un moment très touchant. Tâter l'esprit de Noël avec un soupçon d'irrévérence et beaucoup de caresses. Là où professionnalisme rime avec originalité et humour bien beauf. Préparez-vous à palper des fêtes mémorables et pleines de "grosses".. surprises !</p>
</div>
    {# {% for user in users %} #}


        <form class='touch' action="" method="post">
            <input type="submit" href="Touch/touch.html.twig" value="TOUCH ME">
        </form>
    {# {% endfor %} #}
{% endblock %}
