<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="/assets/images/favicon.png">
		{% block stylesheet %}
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
			<link rel="stylesheet" href="/assets/css/style.css">
			<style>
				@import url('https://fonts.googleapis.com/css2?family=Alatsi &display=swap');
			</style>
                <script src="https://cdn.jsdelivr.net/npm/tsparticles-confetti@2.12.0/tsparticles.confetti.bundle.min.js"></script>
			<title>
				Kitouchki
			</title>

		{% endblock %}


<<<<<<< HEAD
    {% block beard %}
        <div class="top-section"><img src="/assets/images/barbe2.png"/>
        </div>
    {% endblock %}
<div class="title-img"><img src="/assets/images/kitouchki.png"/>
    {% block belt %}
        <div class="belt" ><img src="/assets/images/beltcouille.png">
        </div>
    {% endblock %}
    {% block bottom %}
    <div class="bottom-section"></div>
    {% endblock %}
=======
	</head>
>>>>>>> 959e0c598718cc6c08426e24b9d1b577a8761547

	<body>
		{% block beard %}
			<div class="top-section"><img src="/assets/images/barbe2.png"/>
			</div>
		{% endblock %}

		{% block belt %}
			<div class="belt"><img src="/assets/images/beltcouille.png">
			</div>
		{% endblock %}
		{% block bottom %}
			<div class="bottom-section"></div>
		{% endblock %}

		{% block content %}{% endblock %}
		{% block javascript %} <script src="./pure-snow.js" defer></script>{% endblock %}
	</body>
</html>
