:root {
    --background-color-primary: #f05454;
    --background-color-primary2: #f5f5f5;
    --other-color: #30475e;
    --font-color: #121212;
    --font-color2: white;
}

* {
    font-family: "Alatsi", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border-style: none;
}

body,
html {
    height: 100%;
}

h1 {
    background-color: var(--background-color-primary);
}

.container {
    height: 100%;
    width: 100vw;
    background-color: var(--background-color-primary);
    display: flex;
    flex-direction: column;
}
/***************************** ACCUEIL ******************************/
.top-section > img {
    display: flex;
    position: relative;
    top: -22vh;
    width: 100vw;
    height: fit-content;
    z-index: 1;
}
.belt {
    background-color: #121212;
    padding: 7%;
    display: flex;
    position: relative;
    top: -2vh;
}

div.boucle {
    background-color: transparent;
    display: flex;
    position: relative;
    top: -110vh;
    height: auto;
    z-index: 1;
    zoom: 10%;
    justify-content: center;
}

form.touch {
    display: flex;
    position: relative;
    top: 23vh;
    padding: 0;
    margin: 0;
    justify-content: center;
}

input {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    width: 15%;
    height: auto;
}

[role="button"],
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    background-color: var(--other-color);
    border-color: transparent;
    width: 40%;
    font-size: 0.75rem;
    margin: 0;
}

input:not([type="checkbox"], [type="radio"]),
select,
textarea {
    margin-left: 33%;
    margin-right: 33%;
}

.description > p {
    color: #ffff;
    align-items: center;
    padding: 0 5% 0 5%;
}

.bottom-section {
    flex-grow: 2;
    background-color: var(--background-color-primary);
}

body {
    background-color: var(--background-color-primary);
}

/**************** M A I N ************************/
.touchtouch p {
    display: flex;
    justify-content: center;
}

.touchtouch > img {
    text-align: center;
    max-width: 95%;
    max-height: 95%;
}

.pretour {
    display: flex;
    justify-content: flex-end;
}

.register {
    background-color: #f05454;
    text-align: center;
    margin: 0;
    padding: 0;
}

article {
    box-shadow: none;
}
.register h1 {
    font-family: "Alatsi", sans-serif;
}
.register-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.div-register {
    width: 40%;
}
input {
    background-color: whitesmoke;
}
.register-button {
    background-color: #f05454;
    border: solid 0.2rem;
    color: black;
    margin-top: 1rem;
}
.div-register > img {
    height: auto;
    width: 25%;
    padding-left: 2rem;
}

div.container.login-page {
    padding: 0;
    margin: 0;
}

div.description {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -6vh;
}

div.container.login-page {
align-items: center;
}

input:not([type="checkbox"], [type="radio"]),
select,
textarea {
    margin-left: 0;
    margin-right: 0;
}
/* ---------------------------- media queries -------------------------------- */

@media screen and (min-width: 780px) {
    .description > p {
        color: #ffff;
        font-size: 0.75rem;
        align-items: center;
        padding: 5%;
    }
    div.container.login-page {
        margin-right: 20%;
        margin-left: 20%;
    }

    input:not([type="checkbox"], [type="radio"]),
    select,
    textarea {
        margin-left: 0;
        margin-right: 0;
    }

    div.container.login-page {
        margin-right: 20%;
        margin-left: 20%;
    }

    input:not([type="checkbox"], [type="radio"]),
    select,
    textarea {
        margin-left: 20%;
        margin-right: 20%;
    }

    input:not([type="checkbox"], [type="radio"]),
    select,
    textarea {
        width: 50%;
    }
    /*****************************ACCUEIL*****************************/
    .belt {
        background-color: #121212;
        padding: 2%;
        display: flex;
        position: relative;
        top: -35vh;
    }

    .container {
        height: auto;
        width: 60%;
        margin-left: 20%;
        background-color: var(--background-color-primary);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .top-section > img {
        display: flex;
        position: relative;
        top: -46vh;
        left: 20vw;
        display: flex;
        width: 60%;
        height: auto;
        z-index: 1;
        margin: 0;
    }

    div.boucle {
        display: flex;
        position: relative;
        top: -442vh;
        height: auto;
        z-index: 1;
        zoom: 10%;
        margin: 0;
    }

    .title-img {
        width: 60%;
        height: auto;
        margin-left: 20%;
    }
    div.description {
        display: flex;
        position: relative;
        top: -53vh;
    }

    form.touch {
        display: flex;
        position: relative;
        top: -33vh;
        width: 100%;
        justify-content: center;
    }

    /**************** C H O O S E ************************/
    .choose {
        display: flex;
    }

    input:not([type="checkbox"], [type="radio"]),
    select,
    textarea {
        margin-left: 33%;
        margin-right: 33%;
    }
}
