{% extends 'layout.html.twig' %}

{% block beard %}
{% endblock %}

{% block belt %}
{% endblock %}

{% block content %}
<div class="choose">
    <button>Touche ton prochain</button>
</div>
{% endblock %}